<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal data</title>
</head>
<body>
    Personal data
    <div><label th:text="${personalData.message}"/></div>
    <form th:action="@{/personal-data}" th:object="${personalData}" method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name" th:value="*{name}"/>
        </div>
        <div>
            <label>Document Number</label>
            <input type="text" name="documentNumber" th:value="*{documentNumber}"/>
        </div>
        <div>
            <label>Birthdate</label>
            <input type="date" name="birthdate" th:value="*{birthdate}"/>
        </div>
        <div>
            <label>Phone</label>
        </div>
        <div>
            <label>DDI</label>
            <input type="text" name="ddi" th:value="*{ddi}"/>
        </div>
        <div>
            <label>DDD</label>
            <input type="text" name="ddi" th:value="*{ddd}"/>
        </div>
        <div>
            <label>Phone Number</label>
            <input type="text" name="ddi" th:value="*{phoneNumber}"/>
        </div>
        <button type="submit">Save</button>
    </form>

    <a th:href="@{/}">Home</a>
</body>
</html>