<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal data</title>
</head>
<body>
    Personal data
    <div><label th:text="${personalData.message}"/></div>
    <form th:action="@{/personal-data}" th:object="${personalData}" method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name" th:value="*{name}"/>
        </div>
        <div>
            <label>Document Number</label>
            <input type="text" name="documentNumber" th:value="*{documentNumber}"/>
        </div>
        <div>
            <label>Birthdate</label>
            <input type="date" name="birthdate" th:value="*{birthdate}"/>
        </div>
        <div>
            <label>Phone</label>
        </div>
        <div>
            <label>DDI</label>
            <input type="text" name="ddi" th:value="*{ddi}"/>
        </div>
        <div>
            <label>DDD</label>
            <input type="text" name="ddd" th:value="*{ddd}"/>
        </div>
        <div>
            <label>Phone Number</label>
            <input type="text" name="phoneNumber" th:value="*{phoneNumber}"/>
        </div>
        <div>
            <label>Address</label>
        </div>
        <div>
            <label>Country</label>
            <input type="text" name="country" th:value="*{country}"/>
        </div>
        <div>
            <label>Zip Postal</label>
            <input type="text" name="zipPostal" th:value="*{zipPostal}"/>
        </div>
        <div>
            <label>State</label>
            <input type="text" name="state" th:value="*{state}"/>
        </div>
        <div>
            <label>City</label>
            <input type="text" name="city" th:value="*{city}"/>
        </div>
        <div>
            <label>Neighborhood</label>
            <input type="text" name="neighborhood" th:value="*{neighborhood}"/>
        </div>
        <div>
            <label>Street</label>
            <input type="text" name="street" th:value="*{street}"/>
        </div>
        <div>
            <label>Number</label>
            <input type="text" name="number" th:value="*{number}"/>
        </div>
        <div>
            <label>Complement</label>
            <input type="text" name="complement" th:value="*{complement}"/>
        </div>

        <button type="submit">Save</button>

    </form>

    <a th:href="@{/}">Home</a>
</body>
</html>