<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Works</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<label th:text="${user.message}"/>
<br>
<form th:action="@{/user}" th:object="${user}" method="post">

    <label>email</label>
    <br>
    <input type="email" name="email" th:value="*{email}">
    <br>
    <label>password</label>
    <br>
    <input type="text" name="password" th:value="*{password}">
    <br>
    <button type="submit">Save</button>

</form>

</body>
</html>