<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar usuário</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<label th:text="${user.message}"/>
<br>
<form action="/user" method="post">

    <label>email</label>
    <br>
    <input type="email" name="email">
    <br>
    <label>password</label>
    <br>
    <input type="text" name="password">
    <br>
    <button type="submit">Salvar</button>

</form>

</body>
</html>